.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.gardenville-motto {
    color: #888;
}

.home-page {
    background-image: url("../assets/garden.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
    color: white;
    position: relative;
}

.logout-button {
    position: absolute;
    top: 2rem;
    left: 15rem;
    background-color: #646cff; /* Background color for the button */
    border: none;
    color: white;
    padding: 0.5rem 1rem; /* Added padding for the button */
    border-radius: 4px; /* Rounded corners for the button */
    font-weight: bold; 
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth transition for hover effect */
    &:hover {background-color: #e62828;}
}
f
.signup-button {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #646cff; /* Background color for the button */
    border: none;
    color: white;
    padding: 0.5rem 1rem; /* Added padding for the button */
    border-radius: 4px; /* Rounded corners for the button */
    font-weight: bold; /* Make the text bold for better visibility */
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth transition for hover effect */
    &:hover {
        background-color: #e62828;
    }
}

.signup-page {
    background-image: url("../assets/garden.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
    color: white;
    position: relative;
}

.submit-button {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #646cff; /* Background color for the button */
    border: none;
    color: white;
    padding: 0.5rem 1rem; /* Added padding for the button */
    border-radius: 4px; /* Rounded corners for the button */
    font-weight: bold; /* Make the text bold for better visibility */
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth transition for hover effect */
    &:hover {background-color: #e62828;}
}

.info-container {
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    position: absolute;
    top: calc(1rem + 60px); /* Adjust to position below icp-logo */
    left: 5%;
    font-weight: bold;
    color: white;
    text-align: left; /* Align text to the left */
}

.info-item {
    /* font-family: 'YourCoolFont', sans-serif;  */
    margin-bottom: 10px;
}

.actions-container {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    position: absolute;
    top: calc(1rem + 60px);
    right: 30%;
    width: 35%;
    font-weight: bold;
    text-align: left;
}

.buttons-container {
    max-width: 250px;
    /* display: flex; */
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    position: absolute;
    top: calc(1rem + 300px);
    left: 5%;
    font-weight: bold;
    text-align: left;
}

.mygarden-container {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    position: absolute;
    display: flex;
    gap: 20px;
    top: calc(1rem + 1px);
    bottom: calc(1rem + 1px);
    margin-bottom: 100px;
    right: 10%;
    width: 60%;
    font-weight: bold;
    text-align: left;
}

.contest-button, .addplant-button, .mygarden-button {
    position: static;
    bottom: 1rem;
    background-color: #6479ff; /* Background color for the button */
    border: none;
    color: white;
    padding: 0.5rem 1rem; 
    border-radius: 4px; 
    margin-bottom: 10px;
    font-weight: bold; 
    cursor: pointer;
    transition: background-color 0.2s; 
    &:hover {background-color: #28b3e6;}
}

.contest-entry {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    &:hover {background-color: #b3e6ff;}
}

.contest-entry.selected {
    background-color: #28b3e6; /* Change the background color when selected */
}

.vote-button {
    left: 1rem;
    background-color: #6479ff;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {background-color: #28b3e6;}
}

.vote-message {
    position: absolute;
    bottom: 1rem;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #e6282e;
}

.input-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    flex: 0 0 100px; /* Fixed width for the label */
    margin-right: 10px;
    text-align: right;
    color: #f5f0f0; 
    font-weight: bold;
}

select,
input {
    flex: 0;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-plant-button {
    bottom: 1rem;
    background-color: #6479ff; /* Background color for the button */
    border: none;
    color: white;
    padding: 0.5rem 1rem; /* Added padding for the button */
    border-radius: 4px; /* Rounded corners for the button */
    font-weight: bold; /* Make the text bold for better visibility */
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth transition for hover effect */
    &:hover {background-color: #28b3e6;}
}

.create-plant-message {
    position: absolute;
    bottom: 1rem;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #e6282e;
}

.add-to-gardener-button {
    bottom: 1rem;
    background-color: #6479ff; /* Background color for the button */
    border: none;
    color: white;
    padding: 0.5rem 1rem; /* Added padding for the button */
    border-radius: 4px; /* Rounded corners for the button */
    font-weight: bold; /* Make the text bold for better visibility */
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth transition for hover effect */
    &:hover {background-color: #28b3e6;}
}

.add-to-gardener-message {
    position: absolute;
    bottom: 1rem;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #e6282e;
}

.done-button {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background-color: #6479ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {background-color: #28b3e6;}
}

/* Table styles */
.column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row {
    display: flex;
    gap: 10px;
}

.styled-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.8rem;
    border-radius: 10px;
    overflow: hidden;
}

.styled-table th,
.styled-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
    font-weight: bold;
    line-height: 1.2;
}

.styled-table th {
    background-color: #6479ff;
    color: white;
}

.data-row {
    background-color: white;
    color: black;
}

.icp-logo {
    width: 60px;
    position: absolute;
    top: 1rem;
    left: 5%;
    transition: transform 0.3s; /* Add transition */
}

.icp-logo:hover {
    animation: spin 1s linear; /* Add animation on hover */
}

@keyframes spin {
    0% {transform: rotate(0deg);}     /* Start at 0 degrees */
    100% {transform: rotate(360deg);} /* End at 360 degrees (1 full revolution) */
}