.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.gardenville-motto {
    color: #888;
}

.home-page {
    background-image: url("../assets/garden.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
    color: white;
    position: relative;
}
/* 
width: 60px;
position: absolute;
top: 1rem;
left: 5%;
transition: transform 0.3s; */

.logout-button {
    position: absolute;
    top: 2rem;
    left: 15rem;
    background-color: #646cff; /* Background color for the button */
    border: none;
    color: white;
    padding: 0.5rem 1rem; /* Added padding for the button */
    border-radius: 4px; /* Rounded corners for the button */
    font-weight: bold; 
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth transition for hover effect */
    &:hover {background-color: #e62828;}
}
f
.signup-button {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #646cff; /* Background color for the button */
    border: none;
    color: white;
    padding: 0.5rem 1rem; /* Added padding for the button */
    border-radius: 4px; /* Rounded corners for the button */
    font-weight: bold; /* Make the text bold for better visibility */
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth transition for hover effect */
    &:hover {
        background-color: #e62828;
    }
}

.signup-page {
    background-image: url("../assets/garden.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
    color: white;
    position: relative;
}

.submit-button {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #646cff; /* Background color for the button */
    border: none;
    color: white;
    padding: 0.5rem 1rem; /* Added padding for the button */
    border-radius: 4px; /* Rounded corners for the button */
    font-weight: bold; /* Make the text bold for better visibility */
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth transition for hover effect */
    &:hover {background-color: #e62828;}
}

.info-container {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    position: absolute;
    top: calc(1rem + 60px); /* Adjust to position below icp-logo */
    left: 5%;
    font-weight: bold;
    text-align: left; /* Align text to the left */
}

.info-item {
    /* font-family: 'YourCoolFont', sans-serif;  */
    margin-bottom: 10px;
}

.actions-container {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    position: absolute;
    top: calc(1rem + 60px);
    right: 40%;
    font-weight: bold;
    text-align: left; /* Align text to the left */
}

.buttons-container {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    position: absolute;
    top: calc(1rem + 300px);
    left: 5%;
    font-weight: bold;
    text-align: left; /* Align text to the left */
}

.contest-button {
    position: static;
    bottom: 1rem;
    background-color: #6479ff; /* Background color for the button */
    border: none;
    color: white;
    padding: 0.5rem 1rem; /* Added padding for the button */
    border-radius: 4px; /* Rounded corners for the button */
    font-weight: bold; /* Make the text bold for better visibility */
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth transition for hover effect */
    &:hover {background-color: #28b3e6;}
}

.contest-entry {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    &:hover {background-color: #b3e6ff;}
}

.contest-entry.selected {
    background-color: #28b3e6; /* Change the background color when selected */
}

.vote-button {
    bottom: 1rem;
    background-color: #6479ff; /* Background color for the button */
    border: none;
    color: white;
    padding: 0.5rem 1rem; /* Added padding for the button */
    border-radius: 4px; /* Rounded corners for the button */
    font-weight: bold; /* Make the text bold for better visibility */
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth transition for hover effect */
    &:hover {background-color: #28b3e6;}
}

.vote-message {
    margin-top: 10px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #e6282e;
}

.add-plant-button {
    position: static;
    bottom: 1rem;
    background-color: #6479ff; /* Background color for the button */
    border: none;
    color: white;
    padding: 0.5rem 1rem; /* Added padding for the button */
    border-radius: 4px; /* Rounded corners for the button */
    font-weight: bold; /* Make the text bold for better visibility */
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth transition for hover effect */
    &:hover {background-color: #28b3e6;}
}

.create-plant-button {
    bottom: 1rem;
    background-color: #6479ff; /* Background color for the button */
    border: none;
    color: white;
    padding: 0.5rem 1rem; /* Added padding for the button */
    border-radius: 4px; /* Rounded corners for the button */
    font-weight: bold; /* Make the text bold for better visibility */
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth transition for hover effect */
    &:hover {background-color: #28b3e6;}
}

.create-plant-message {
    position: absolute;
    bottom: 1rem;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #e6282e;
}

.add-to-gardener-button {
    bottom: 1rem;
    background-color: #6479ff; /* Background color for the button */
    border: none;
    color: white;
    padding: 0.5rem 1rem; /* Added padding for the button */
    border-radius: 4px; /* Rounded corners for the button */
    font-weight: bold; /* Make the text bold for better visibility */
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth transition for hover effect */
    &:hover {background-color: #28b3e6;}
}

.add-to-gardener-message {
    position: absolute;
    bottom: 1rem;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #e6282e;
}

.icp-logo {
    width: 60px;
    position: absolute;
    top: 1rem;
    left: 5%;
    transition: transform 0.3s; /* Add transition */
}

.icp-logo:hover {
    animation: spin 1s linear; /* Add animation on hover */
}

@keyframes spin {
    0% {transform: rotate(0deg);}     /* Start at 0 degrees */
    100% {transform: rotate(360deg);} /* End at 360 degrees (1 full revolution) */
}